<!DOCTYPE html>
<html>

<head>
    <title>Voter: 用户信息</title>

    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />

    <link rel='stylesheet' href='/stylesheets/icheck.css' />

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/usrInfo.css" />

    <link rel='stylesheet' href='/stylesheets/buttons.css' />

</head>

<body>
    <%if(typeof(user) !== 'undefined' && user){%>

    <div class="col-lg-12">
      <div class="col-lg-6">
          <h1>你好 <%= user.username %>, 欢迎登录。 <small><a claa="btn" href="/usrInfo/logout">退出</a></small></h1>
      </div>
      <div class="col-lg-6">
        <form role="form" method="post">
          <div class="input-group">
              <input type="text" class="form-control" name = "aid">
              <span class="input-group-btn">
                <button class="button-tiny button-royal" type="submit">搜索活动ID</button>
              </span>
          </div><!-- /input-group -->
        </form>
      </div>
    </div>








        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active" id="alltab"><a>所有活动</a></li>
            <li role="presentation" id="startertab"><a>我发起的</a></li>
            <li role="presentation" id="membertab"><a>我参与的</a></li>
            <li><a href="/addActivity"><button class="button button-royal button-circle button-tiny"><i class="fa fa-plus">+</i></button></a></li>


        </ul>
        <div class="tab-content">
              <div class="tab-panel active" id="all">

              </div>
              <div class="tab-panel hidden" id="starter">

              </div>
              <div class="tab-panel hidden" id="member">

              </div>

        </div>

        <div class="activity-container">

            <table class="table">
                <thead>
                    <td>活动ID</td>
                    <td>活动名称</td>
                    <td>发起人</td>
                    <td>状态</td>
                    <td>查看</td>
                </thead>

                <tbody>
                  <% if (typeof(useractivity) !== 'undefined' && useractivity) { %>
                    <% useractivity.forEach(function(item){ %>
                      <tr status =  <%=item.votestatus%>>
                          <td>
                            <%= item.aid %>
                          </td>
                          <td>
                            <%= item.activityname %>
                          </td>
                          <td>
                            <%= item.starter %>
                          </td>
                          <td>
                            <%if (item.votestatus == 1){%>
                              进行中
                            <%} else {%>
                              已结束
                            <%}%>

                          </td>
                        <td>

                          <form role="form" method="post">
                                <input type="text" class="form-control hidden" id = <%=item.aid%> name = "aid" value = <%=item.aid%> />
                            <button type="submit" class="button button-royal button-tiny" aid = <%=item.aid%>> 查看</button>
                        </form>


                        </td>
                    </tr>
                    <% }) %>
                </tr>
                <% } %>
                </tbody>

            </table>

        </div>


    <%}else{%>

        <h1>Welcome  , <a clas="btn" href="/login">请登录！！</a></h1>

    <%}%>


  <script src='/javascripts/d3.min.js'></script>
  <script src='/javascripts/jquery.min.js'></script>
  <script src='/javascripts/bootstrap.min.js'></script>
  <script src='/javascripts/echarts.min.js'></script>
  <script src='/javascripts/icheck.min.js'></script>

  <script>

    //TO DO
    console.log();

    $("tr[status = 1]").attr('class','success');
    var alltab = d3.select('#alltab');
    var startertab = d3.select('#startertab');
    var membertab = d3.select('#membertab');
    var all = d3.select('#all');
    var starter = d3.select('#starter');
    var member = d3.select('#member');

    alltab.on('click',function(){
        alltab.classed('active', true);
        startertab.classed('active', false);
        membertab.classed('active', false);

    });
  </script>

</body>

</html>
